.playerControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.newGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
}

.title {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
}

.scoringSection {
    display: flex;
    justify-content: center;
}

.scoreBoard {
    margin: 25px;
    border-style: solid;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 736px;
}

.ScoreBox {
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    margin: 15px;
}

.scoreText {
    margin: 15px;

}

.Score {
    font-size: 48px;
    font-weight: bold;
    margin: 15px;
}


#lastWinner {
    font-size: 18px;
    font-weight: normal;
}

#lastWinnerBox {
    width: 400px;
    height: 147px;
}

#playerScoreBox {
    margin-right: auto;
}

#compScoreBox {
    margin-left: auto;
}

#resetButton {
    font-size: 20px;
}